%hgroup.course_title
  %div.course_prefix= course.title_prefix
  %h1= course.heading

%section.course_description
  = course.description

%section.course_program
  %h1 Program
  = render introduction
  - if course.sections.size > 0 
    = render course.sections
  - else
    = render course.sessions
