%hgroup
  %div.course_prefix= course.title_prefix
  %h1= course.heading

= course.description

- if course.sections
  %section.sections
    = render course.sections
- else
  %section.sessions
    = render course.sessions