%h1= @course.full_title

%p= kramdown(@course.description)

- @sections.order("number").each do |section|
  %h2= "#{roman_numeral(section.number)}. #{section.title}"
  %p= kramdown(section.description)
